<li class="mvDtl col s8 m9 l10">

    {{!-- User name and rating paragraph --}}
    <div id="user-paragraph">
        {{!-- user name span --}}
        {{#each reviews.review}}
        <p id="userName{{@index}}" class="userName"> <span id="userRating{{@index}}" class="userRating" ></span></p>

        <p id="comment">{{this}}</p>
        {{/each}}

        {{!-- user users hidden span --}}
        {{#each reviews.allUser}}
        <p class="userNames{{@index}}" style="display: none">{{this}}</p>
        {{/each}}

        {{!-- user rating hidden span --}}
        {{#each reviews.rating}}
        <p class="userRatings{{@index}}" style="display: none">User Rating: {{this}}</p>
        {{/each}}

</li>