<li class="mvDtl col s8 m9 l10">

    {{!-- User name and rating paragraph --}}
    <p id="userName">
        <span class="col s4">
            {{#each reviews.allUser}}
            <span style="color: white">User Name: </span> {{this}}
            {{/each}}
        </span>
        <span class="col s4">
            {{#each reviews.rating}}
            <span id="usrRating"><span style="color: white">User Rating: </span>{{this}}
                <!-- {{ratings}} --></span>
            {{/each}}
        </span>
    </p>

    {{!-- User comment section --}}
    <div class="col s4">
        {{#each reviews.review}}
        <p>Comment:</p>
        <p id="comment">
            {{this}}{{!-- {{lookup reviews @index}} --}}
        </p>
        {{/each}}
    </div>
</li>