<!-- ========================= Nav Bar =======================-->
<nav>
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo">
            <div id="navLogoBox">
                <img id="navLogo" src="/assets/images/MovieRackLogo.png" alt="Movie Rack Logo" />
            </div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><a href="/rating">Ratings</a></li>
    <li><a href="/account">Account</a></li>
</ul>

<!-- ====================================== Main Content ==================================================== -->
<div class="container">
    <div class="row">
        <!-- ================ movie details ================ -->
        <div class="mainContent darkerBg col s12">
            <div class="row">
                <div class="col s10 offset-s1 mvDtl" id="review">
                    <div class="row">
                        <!-- poster image -->
                        <div class="col s4 m3 l2">
                            {{!-- img from movieObj --}}
                            <img class="mvImg" src={{imgHref}} />
                        </div>
                        <!-- Titles, Year, Rating-->
                        <div class="col s8 m9 l10">
                            <div>
                                <!-- Title, Year -->
                                <div class="row">
                                    <div class="col s12">
                                        <h5 class="left" id="title">{{title}}</h5>
                                        <p class="year-released">{{year}}</p>
                                    </div>
                                </div>
                                <!--Ratings (sam part) -->
                                <div id="otherRatings">
                                    {{!-- dynamically apply movie ratings from OMBD --}}
                                </div>
                                <p class="mrRating">{{average}}</p>
                            </div>

                            <!--  Username Rating, Comment (sam part medians) -->
                            <p id="userName">{{upperMedianName}} <span id="usrRating">{{upperMedianScore}}</span></p>
                            <p>Comment</p>
                            <p id="comment">
                                {{upperMedianReview}}
                            </p>
                            <!--  Username Rating, Comment (sam part medians) -->
                            <p id="userName">{{middleMedianName}} <span id="usrRating">{{middleMedianScore}}</span></p>
                            <p>Comment</p>
                            <p id="comment">
                                {{middleMedianReview}}
                            </p>
                            <!--  Username Rating, Comment (sam part medians) -->
                            <p id="userName">{{lowerMedianName}} <span id="usrRating">{{lowerMedianScore}}</span></p>
                            <p>Comment</p>
                            <p id="comment">
                                {{lowerMedianReview}}
                            </p>
                            <!--Take section above and apply dynamically (SAM NOTES) -->
                            <button class="btn waves-effect waves-light signInBtn" id="more-reviews" type="button" name="action">
                                Show-All-Reviews <i class="material-icons right">list</i>
                            </button>
                            <div id="hidder" style="display: none;">
                                {{!-- ratings block partial is called --}}
                                <ul>
                                    {{>ratings-block}}
                                </ul>
                                                            <button class="btn waves-effect waves-light signInBtn" id="more-reviews" type="button" name="action">
                                Show-All-Reviews <i class="material-icons right">list</i>
                            </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="btmSpacer s12"></div>
</div>